/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.primary-width{
     max-width: 1440px;
     margin: 0px auto;
}
.primary-description{
    font-size: 1rem;
    font-weight: 500;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
}
/* dark - o2 */
.text-gray{
    color: #424242;
}
/* dark - 01 */
.text-dark-light{
    color: #131313;
}
/* dark - 03 */
.text-dark-gray{
    color: #727272;
}

/* NAv bar style */
header{
   background-color: rgba(255, 144, 14, 0.1);
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
     list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 20px;
}
.nav-title{
    font-size: 2.9rem;
    font-weight: 700;
}
.brand-content{
 max-width: 850px;
 margin: 0px auto;
 text-align: center;
 margin-bottom: 30px;
}
.brand-title{
    font-size: 4rem;
    font-weight: 700;
} 
.banner-image{
    width: 100%;
}

/* MAin part start */
main>section{
    margin-top: 130px;
}
.feature-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 14px;
}
.our-feature-title{
       margin-left: 73px;
}
.our-features{
    align-items: center;
}
.our-feature-title{
    max-width: 530px;
}
.feature-title{
    font-size: 2.9rem;
    margin-bottom: 32px;
}
.quick-list{
    font-weight: 500;
}
/* responsive design */
@media screen and (max-width:576px) {
    .nav-bar,
    .nav-links,
    .our-features{
        flex-direction: column;
    }
    .feature-image-container{
        grid-template-columns: 1fr;
    }
    .our-feature-title{
        margin: 20px;
    }
}
@media screen and (min-width: 576px) and (max-width: 990px) {
    .our-features{
        flex-direction: column;
    }  
    .feature-image-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
}